* {
  font-family: "Poppins", Helvetica, sans-serif;
  color: #113;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #ffffff15;
  padding: 8px 16px;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.header-left,
.header-right {
  font-weight: 600;
}

.header-right {
  text-align: end;
}

.hero-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-background {
  /* background-color: #d2f0ff; */
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

@media (max-width: 768px) {
  .hero-background svg {
    width: 75%;
  }
}

.hero-background svg {
  position: absolute;
  box-sizing: border-box;
  opacity: 0.35;
  transition: 0.25s;
  height: 100%;
  filter: blur(25px);
}

/*? gk jalan */
.hero-background svg:hover {
  scale: 1.02;
  opacity: 1;
  transition: 0.25s;
}

.hero-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-size: 64px;
  margin: 0;
  text-align: center;
  transition: 0.25s;
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 48px;
  }
}

.hero-title:hover {
  transition: 0.25s;
  scale: 1.01;
}

.hero-subtitle {
  font-size: 24px;
  text-align: center;
  transition: 0.25s;
}

.hero-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-bottom svg {
  animation: swipedown 2s linear infinite;
}

@keyframes swipedown {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(7px);
  }

  to {
    transform: translateY(0);
  }
}

article.members {
  margin: 64px 48px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.card {
  margin-top: 110px;
  width: 220px;
  padding: 8px 16px;
  border-radius: 30px;
  position: relative;
  transition: 0.25s;
}

a .card {
  text-decoration: none;
  color: inherit;
}

.card-container>a:nth-child(1)>.card {
  background-color: #ffe6f2;
}

.card-container>a:nth-child(2)>.card {
  background-color: #ffd7be;
}

.card-container>a:nth-child(3)>.card {
  background-color: #b2fffc;
}

.card-container>a:nth-child(4)>.card {
  background-color: #cfffdc;
}

.card-container>a:nth-child(5)>.card {
  background-color: #ffe6f2;
}

.card:hover {
  transition: 0.25s;
  scale: 1.05;
  filter: brightness(0.5);
}

.card:hover .foto {
  transition: 0.25s;
  translate: 0 -2px;
}

.card:active {
  scale: 0.95;
}

.container-foto {
  height: 100px;
}

.foto-box {
  position: absolute;
  top: -120px;
}

.foto {
  border-radius: 30px;
  width: 220px;
  mask-image: linear-gradient(to bottom,
      rgb(0, 0, 0),
      rgb(0, 0, 0),
      rgb(0, 0, 0),
      rgb(0, 0, 0),
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0));
}

@media screen and (max-width: 768px) {
  article.members {
    margin: 48px 36px;
  }

  .card {
    width: 200px;
    border-radius: 25px;
  }

  .container-foto {
    height: 80px;
  }

  .foto {
    width: 200px;
    border-radius: 25px;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
}

.card-text h3 {
  font-size: 24px;
  margin: 0;
}

.card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  padding: 8px 16px;
}

footer {
  background-color: #f0f0f0;
  padding: 12px 24px;
  padding: 10px 48px;
}

.footer-body {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  text-align: left;
}

.footer-right>* {
  text-align: right;
  margin: 1px;
}

.footer-left table td:nth-child(2) {
  padding-left: 16px;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #555;
}